<div class="blog__card">
    <img [src]="imgUrl" alt="" class="blog__card-image">
    <div class="blog__card-info">
        <span class="blog__card-date Paragraph_3_Regular">{{date}}</span>
        <span class="blog__card-title Headline_4_Bold ">{{title}}</span>
        <span class="blog__card-description Paragraph_2_Regular">{{description}}</span>
        <div class="card-link">
            <span class="card-link__text Headline_7_SemiBold">Read more</span>
            <span class="card-link__arrow"></span>
        </div>
    </div>
</div>