<section>
    <div class="breadcrumb">
        <a class="Headline_7_Medium" routerLink='/home' routerLinkActive="active">Home</a>
        <img src="/assets/img/icon_divider.svg" alt="">
        <a class="Headline_7_SemiBold" routerLink='/contact' routerLinkActive="active">Contacts</a>
    </div>
    <div class="wrap">
        <span class="title ">How can we <span class="color__primary">help you?</span></span>
        <div class="contact__form">
            <input class="input__form input__form-small Paragraph_3_SemiBold" type="text" name="email"
                placeholder="Your name" />
            <input class="input__form input__form-small Paragraph_3_SemiBold" type="text" name="email"
                placeholder="Your email" />
            <input class="input__form Paragraph_3_SemiBold" type="text" name="email" placeholder="Theme" />
            <textarea class="input__form input__form-big Paragraph_3_SemiBold" type="text" name="email"
                placeholder="Your message"></textarea>
            <a href="" class="button__small" style="color: #FFF;">Send</a>
        </div>
        <div class="contacts">
            <div class="contacts__card">
                <div class="contacts__card-main">
                    <img src="/assets/img/icon_mail.svg" alt="" class="contacts__card-ico">
                    <span class="contacts__card-title Headline_7_SemiBold">Email</span>
                </div>
                <span class="contacts__card-info Paragraph_2_Regular">ensome&#64;info.co.us</span>
            </div>
            <div class="contacts__card">
                <div class="contacts__card-main">
                    <img src="/assets/img/icon_call.svg" alt="" class="contacts__card-ico">
                    <span class="contacts__card-title Headline_7_SemiBold">Phone</span>
                </div>
                <span class="contacts__card-info Paragraph_2_Regular">+1 601-201-5580</span>
            </div>
            <div class="contacts__card">
                <div class="contacts__card-main">
                    <img src="/assets/img/icon_location.svg" alt="" class="contacts__card-ico">
                    <span class="contacts__card-title Headline_7_SemiBold">Address</span>
                </div>
                <span class="contacts__card-info Paragraph_2_Regular">1642 Washington Ave, Jackson, MS</span>
            </div>
        </div>
    </div>
    <div class="map">
    </div>
</section>