<section class="entryscreen">
    <div class="entryscreen__text">
        <span class="entryscreen__title Headline_1_ExtraBold">Find true power in your data with <span
                class="color__primary">Ensome</span></span>
        <span class="entryscreen__description Paragraph_2_Regular">Sed ut perspiciatis unde omnis iste natus error sit
            voluptatem accusantium doloremque lauda, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
            quasi.</span>
    </div>
    <div class="entryscreen__background"></div>
    <a href="" class="entryscreen__button"></a>
</section>
<section class="features">
    <div class="features__headblock">
        <span class="features__headblock-title">The <span class="color__primary">newest</span> business analytics
            platform</span>
        <div class="features__headblock-content">
            <span class="features__headblock-description Paragraph_1_Regular">Sed ut perspiciatis unde omnis iste natus
                error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</span>
            <a href="" class="button__big">Discover more</a>
        </div>
    </div>
    <div class="features__descriptionblock">
        <span class="features__descriptionblock-image"></span>
        <div class="features__descriptionblock-content">
            <span class="features__descriptionblock-title Headline_2_ExtraBold">Radically new solutions for data</span>
            <span class="features__descriptionblock-description Paragraph_1_Regular">Sed ut perspiciatis unde omnis iste
                natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</span>
            <a href="" class="button__big">Learn more</a>
        </div>
    </div>
</section>
<app-services-stats></app-services-stats>
<section class="benefits">
    <div class="benefits__wrap">
        <div class="benefits__info">
            <span class="benefits__title Headline_2_ExtraBold">The benefits of Ensome</span>
            <span class="benefits__description Paragraph_1_Regular">Sed ut perspiciatis unde omnis iste natus error sit
                voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                veritatis et quasi architecto beatae vitae dicta sunt explicabo.</span>
        </div>
        <div class="benefits__cards">
            <div class="benefits__cards-wrap benefits__card1">
                <img src="/assets/img/benefits_01_icon_brain_circuit.svg" alt="">
                <div class="benefits__card-content">
                    <span class="benefits__card-title Headline_5_Bold">Machine learning</span>
                    <span class="benefits__card-description Paragraph_3_Regular">At vero eos et accusamus et iusto odio
                        dignissimos duciu quili blandit praesentium voluptatum ipsa quae ab illo.</span>
                </div>
            </div>
            <div class="benefits__cards-wrap benefits__card2">
                <img src="/assets/img/benefits_02_icon_arrow_trending_lines.svg" alt="">
                <div class="benefits__card-content">
                    <span class="benefits__card-title Headline_5_Bold">Embed analytics</span>
                    <span class="benefits__card-description Paragraph_3_Regular">At vero eos et accusamus et iusto odio
                        dignissimos duciu quili blandit praesentium voluptatum ipsa quae ab illo.</span>
                </div>
            </div>
            <div class="benefits__cards-wrap benefits__card3">
                <img src="/assets/img/benefits_03_icon_key.svg" alt="">
                <div class="benefits__card-content">
                    <span class="benefits__card-title Headline_5_Bold">Access control</span>
                    <span class="benefits__card-description Paragraph_3_Regular">At vero eos et accusamus et iusto odio
                        dignissimos duciu quili blandit praesentium voluptatum ipsa quae ab illo.</span>
                </div>
            </div>
            <div class="benefits__cards-wrap benefits__card4">
                <img src="/assets/img/benefits_04_icon_data_area.svg" alt="">
                <div class="benefits__card-content">
                    <span class="benefits__card-title Headline_5_Bold">Data analytics</span>
                    <span class="benefits__card-description Paragraph_3_Regular">At vero eos et accusamus et iusto odio
                        dignissimos duciu quili blandit praesentium voluptatum ipsa quae ab illo.</span>
                </div>
            </div>
        </div>
    </div>
</section>
<app-review-block [Cards]="cards" [Type]="'text'" [BlockName]="'Testimonials'"></app-review-block>
<app-pricing-block></app-pricing-block>
<app-review-block [Cards]="blogCards" [Type]="'blog'" [BlockName]="'Our blog'"></app-review-block>
<app-help-block></app-help-block>
<app-subscribe-block></app-subscribe-block>