<section class="subscribe">
    <div class="subscribe__text">
        <span class="subscribe__title Headline_2_ExtraBold">Subscribe to our newsletter</span>
        <span class="subscribe__description Paragraph_1_Regular">Sed ut perspiciatis unde omnis iste natus error sit
            voluptatem accusantium doloremque laudantium.</span>
    </div>
    <div class="subscribe__form">
        <input class="subscribe__form-input Paragraph_3_SemiBold" type="text" name="email" placeholder="Your email" />
        <input class="subscribe__form-submit Headline_6_Bold" type="submit" value="Send" />
    </div>
    <span class="separate-line"></span>
</section>