<section class="metrics">
    <div class="metrics__wrap">
        <span class="metrics__title Headline_2_ExtraBold">We provide services that guarantee your success</span>
        <div class="metrics__content">
            <div class="metrics__statisctics">
                <div class="metrics__statistics-block">
                    <span class="metrics__statistics-number">1830+</span>
                    <span class="metrics__statistics-description Paragraph_2_Regular">Project executed</span>
                </div>
                <div class="metrics__statistics-block">
                    <span class="metrics__statistics-number">834+</span>
                    <span class="metrics__statistics-description Paragraph_2_Regular">Satisfied customers</span>
                </div>
                <div class="metrics__statistics-block">
                    <span class="metrics__statistics-number">390</span>
                    <span class="metrics__statistics-description Paragraph_2_Regular">Data management</span>
                </div>
            </div>
            <span class="metrics__description Paragraph_1_Regular">Sed ut perspiciatis unde omnis iste natus error sit
                voluptat accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quaeab illo inventore. Donec
                tincidunt tempor quam, non mollis quam finibus nec.</span>
        </div>
        <div class="metrics__clientlogo">
            <img src="/assets/img/partnerlogo1.png" alt="" class="metrics__clientlogo-img">
            <img src="/assets/img/partnerlogo2.png" alt="" class="metrics__clientlogo-img">
            <img src="/assets/img/partnerlogo3.png" alt="" class="metrics__clientlogo-img">
            <img src="/assets/img/partnerlogo4.png" alt="" class="metrics__clientlogo-img">
            <img src="/assets/img/partnerlogo5.png" alt="" class="metrics__clientlogo-img">
            <img src="/assets/img/partnerlogo6.png" alt="" class="metrics__clientlogo-img">
        </div>
    </div>
</section>